{% extends 'base.html.twig' %}

{% block body %}
    <h1>Challenge list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Nbpoints</th>
                <th>Isdeleted</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for challenge in challenges %}
            <tr>
                <td><a href="{{ path('challenge_show', { 'id': challenge.id }) }}">{{ challenge.id }}</a></td>
                <td>{{ challenge.title }}</td>
                <td>{{ challenge.description }}</td>
                <td>{{ challenge.nbPoints }}</td>
                <td>{% if challenge.isDeleted %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('challenge_show', { 'id': challenge.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('challenge_edit', { 'id': challenge.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('challenge_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
